@using GinSki.Services
@inherits LayoutComponentBase
@inject BehaviourService BehaviourService 
<PageTitle>GinSki</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @Body
    </main>
</div>

@code
{
    protected override void OnInitialized()
    {
       // BehaviourService.AdminMode = false;
    }
}
