* {
    margin: 0;
    padding: 0;
}

.cardActive {
    display: flex;
    margin: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 27px -2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 27px -2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 27px -2px rgba(34, 60, 80, 0.2);
}

.content1 {
    display: flex;
    
    flex-direction: row;
    width: 98.5%;
    padding: 10px 0;
    justify-content: right;
}



.content2 {
    display: flex;
    flex-direction: column;
    width: 98.5%;
}

.tableHeader {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: row;
    color: white;
    width: 100%;
    border-radius: 10px;
    background: #5e76e7;
    padding: 10px;
}

.row1 {
    display: flex;
    margin: 3px;
    flex-direction: row;
    align-items: center;
}


.boxRow {
    display: flex;
    margin: 3px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.btnRow {
    display: flex;
    text-align: start;
    padding: 10px;
    border: none;
    width: 100%;
    margin: 3px;
    background: white;
    
}


.boxRow div {
    display: flex;
    flex-direction: row;
    margin: 3px;
    height: 100%;
    width: 100%;
    align-items: center;
    background: lightslategray;
    
}

p {
    display: flex;
    align-items: center;
}

.boxFIO {
    display: flex;
    flex-direction: row;
}

hr.rounded {
    border-top: 2px solid #bbb;
    border-radius: 5px;
    margin: 0 auto;
    width: 98%;
}
