
<div class="headerMenu">
    <div class="block">
        <p></p>
        <p class="pHeader">@Title</p>
        <p></p>
    </div>
</div>

@code {

    [Parameter]
    public String Title { get; set; }

}