* {
    margin: 0;
    Padding: 0;
}

.fon {
    display: flex;
    position: absolute;
    margin: auto;
    top: 0;
    left: 100px;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}


.cardInvent  {
    display: flex;
    background: lightslategray;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 50%;
    height: auto;
    margin: auto;

    -webkit-box-shadow: 0px 0px 27px -2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 27px -2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 27px -2px rgba(34, 60, 80, 0.2);    
}

.content1 {
    display: flex;
    background: #b1fa87;
    width: 100%;
    margin: 3px;
}

.content1 p {
    margin: 3px;
}


.content2 {
    display: flex;
    align-items: center;
    background: lightgoldenrodyellow;
    flex-direction: column;
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}

.content3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #4779ff;
    width: 100%;
    margin: 10px;
    height: 200px;
    overflow-y: scroll;
}

.tableHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.tableContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: lightgrey;
}

.tableRow {
    display: flex;
    align-items: center;
    flex-direction: row
}