* {
    margin: 0;
    Padding: 0;
  
}

.fon {
    display: flex;
    position: absolute;
    margin: auto;
    top: 0;
    left: 250px;
    right: 0;
    bottom: 0;
    width: 80%;
    height: 100%;

}

.cardInvent  {
    display: flex;
    background: #ffffff;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 70%;
    height: auto;
    margin: auto;

    border-radius: 10px;
    
    -webkit-box-shadow: 0px 0px 27px -2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 27px -2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 27px -2px rgba(34, 60, 80, 0.2);    
}

.content1 {
    display: flex;

    width: 100%;
    justify-content: space-between;
    padding: 7px;
}

.content1 p {
    margin: 4px;
    font-size: 18px;
    font-weight: bold;
}


.content2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 400px;
}

.tableHeaderInvent {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: row;
    color: white;
    width: 98.5%;
    border-radius: 10px;
    background: #5e76e7;
    padding: 10px;
}

.tableContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: start;
    width: 98.5%;
    margin: 3px;
    
}

.btnRow {
    display: flex;
    text-align: start;
    padding: 10px;
    border: none;
    width: 100%;
    margin: 3px;
    background: white;
}

.btnRow:hover {
    background: #d8ebff;
    border-radius: 10px;
}

.btnRow:disabled {
    color: #1a1e21;
}

.content3 {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
    border-radius: 10px;
    background: #cbd9fc;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    
}

.tableRow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
}




select {
    height: 30px;
    border-radius: 5px;
    
    border: solid #5e76e7 2px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

hr.rounded {
    border-top: 2px solid #bbb;
    border-radius: 5px;
    margin: 0 auto;
    width: 98%;
}


hr.rounded2 {
    border-top: 4px solid #5e76e7;
    border-radius: 5px;

    margin: 10px auto;
    width: 98%;
}


.headerAddInv p:nth-child(3) {
    color: #adadad;
}

.headerAddInv p:nth-child(2) {
    color: #adadad;
}

.btnRow2 {
    display: flex;
    text-align: start;
    padding: 10px;
    border: none;
    width: 100%;
    margin: 3px;
    background: #cbd9fc;
}


.btnRow2:hover {
    background: #d8ebff;
    border-radius: 10px;
}



.content4 {
    display: flex;
    flex-direction: column;
    width: 98.5%;
    margin-top: 20px;

}


.headerAddInv {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: start;
    justify-content: start;
}

.headerAddInv p {
    margin: 4px;
    font-size: 18px;
    font-weight: bold;
}


.contentBottom {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    align-items: end;
    
    justify-content: space-between;
}

.bottomRow:last-child{
    margin: 0 30px;
}

.btnExit {
    border: none;
    background: #ececec;
    border-radius: 5px;
    padding: 5px 10px;
}

.btnArend {
    background: #5e76e7;
    border: none;
    border-radius: 999px;
    padding: 5px 10px;
    color: white;
    margin-bottom: 10px;
}
