* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cardSkpass {
    width: 1000px;
    margin: 10px auto;

    -webkit-box-shadow: 0px 0px 27px -2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 27px -2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 27px -2px rgba(34, 60, 80, 0.2);
}

form {
    position: relative;
    width: 300px;
    background: lightgrey;
    margin: 0 auto;
}

.inputSearch {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #5e76e7;
    border-radius: 5px;
    outline: none;
    background: white;
    color: black;
    text-decoration: none;
    margin-top: 10px;
}


.boxUsers {
    display: flex;
    flex-direction: column;

 
    margin: 3px;
}

.scrollUser {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 150px;
}

.rowClientsBtn {
    display: flex;
    text-align: start;
    padding: 10px;
    border: none;
    width: 100%;
    margin: 3px;
    background: white;
}

.rowClientsBtn2 {
    display: flex;
    text-align: start;
    align-items: center;
    padding: 10px;
    border: none;
    width: 99%;
    margin: 3px;
    height: 50px;
    background: #cbd9fc;
}

.rowClientsBtn2 p {
    display: flex;
    padding: 3px;
    width: 130px;
}

.boxRowTime {
    display: flex;
    flex-direction: row;
}


.rowClientsBtn:hover {
    background: #d8ebff;
    border-radius: 10px;
}

.rowClientsBtn:disabled {
    color: #1a1e21;
}

.rowClientsBtn2:hover {
    background: #d8ebff;
    border-radius: 10px;
}

.rowClientsBtn2:disabled {
    color: #1a1e21;
}

hr.rounded2 {
    border-top: 4px solid #5e76e7;
    border-radius: 5px;

    margin: 10px auto;
    width: 98%;
}





.rowClientsBtn p {
    display: flex;
    padding: 3px;
    width: 130px;
}

.headerClients {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    color: white;
    width: 100%;
    border-radius: 10px;
    height: 40px;
    background: #5e76e7;
    padding: 10px;
    margin-top: 10px;
}



.headerClients p {
    display: flex;
    width: 130px;
    padding: 3px;
}

.cardApply {
    display: flex;
    flex-direction: column;
    margin: 3px;
}

.pHeader {
    margin: 10px 4px;
    font-size: 18px;
    font-weight: bold;
    color: #7e7e7e;
}

.pHeader2 {
    margin: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #606060;
}

.cardClient {
    display: flex;
    flex-direction: column;

    margin: 3px;
}

.cardContentApply {
    display: flex;
    flex-direction: column;

}

.cardClient .cardClientRow{
    display: flex;
    flex-direction: row;

    margin: 3px;
}



.cardClientRow {
    display: flex;
    flex-direction: column;
}

.cardClientRow p {
    width: 200px;
    font-weight: bold;
}

.cardClientRow input {

}


.rental {
    display: flex;
    flex-direction: column;
    margin: 3px;
}

.rentalContent1 {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.rentalContent1 button {
    margin-top: 5px;
    margin-left: 20px;
}


.rentalContent2 {
    display: flex;
    flex-direction: column;
    background: #cbd9fc;
  
    border-radius: 10px;
}

.rentalRow {
    display: flex;
    background: darkorange;
}

.rentalRow div {
    margin: 3px;
}

.rentalHeader {
    display: flex;
    background: lightgrey;
    flex-direction: row;
}

.rentalHeader div {
    margin: 3px;
}

hr.rounded {
    border-top: 2px solid #bbb;
    border-radius: 5px;
    margin: 4px auto;
    width: 98%;
}


input {
    height: 30px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background: #cedaf5;
    text-decoration: underline 2px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.addUser {
    background: #5e76e7;
    border: none;
    border-radius: 999px;
    padding: 5px 10px;
    width: 110px;
    color: white;
    margin-bottom: 10px;
}


.btnPrimary2 {
    background: #5e76e7;
    border: 2px solid #5e76e7;
    border-radius: 999px;
    padding: 5px 10px;
    width: 110px;
    color: white;
    margin-bottom: 10px;
}

.btnSecondary2 {
    background: white;
    border: 2px solid #5e76e7;
    border-radius: 999px;
    padding: 5px 10px;
    width: 110px;
    color: black;
    margin-bottom: 10px;
}

.boxBtns {
  padding-top: 10px;
    padding-left: 10px;
}
