@page "/accessHillside"
@using GinSki.Components
@inject SkipassComponent SkipassComponent;
@inject RentalInventory RentalInventory

<h3>AccessHillside</h3>

<div>
    <button @onclick="() => SwitchComponent(true)">Инвентарь</button>
    <button @onclick="() => SwitchComponent(false)">Скиппас</button>
</div>


<div>
    @if (isCheckSkipass)
    {
        <SkipassComponent isAllFunctions="true"></SkipassComponent>        
    }
    else
    {
        <SkipassComponent isRentalInventory="true"></SkipassComponent>
    }
</div>


@code {
    public bool isCheckSkipass { get; set; }


    void SwitchComponent(bool isSwitch)
    {
        isCheckSkipass = isSwitch;
    }

}