@page "/accessHillside"
@using GinSki.Components
@inject SkipassComponent SkipassComponent;
@inject RentalInventory RentalInventory

<HeaderMenu Title="Допуск к склону"></HeaderMenu>

<div class="boxBtns">
    @if (isCheckSkipass)
    {
        <button class="btnPrimary" @onclick="() => SwitchComponent(true)">Скиппас</button>
        <button class="btnSecondary" @onclick="() => SwitchComponent(false)">Инвентарь</button>    
    }
    else
    {
        <button class="btnSecondary" @onclick="() => SwitchComponent(true)">Скиппас</button>
        <button class="btnPrimary" @onclick="() => SwitchComponent(false)">Инвентарь</button>
    }
    
</div>


<div>
    @if (isCheckSkipass)
    {
        <SkipassComponent isAllFunctions="true"></SkipassComponent>        
    }
    else
    {
        <SkipassComponent isRentalInventory="true"></SkipassComponent>
    }
</div>


@code {
    public bool isCheckSkipass { get; set; }


    void SwitchComponent(bool isSwitch)
    {
        isCheckSkipass = isSwitch;
    }

}