@page "/activeGuestPage"
@using GinSki.Components
@inject ActiveGuest ActiveGuest

<HeaderMenu Title="Гости на склоне"></HeaderMenu>

<div class="Content">
    <ActiveGuest></ActiveGuest>
</div>

@code { 
    
}