* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat Medium";
    box-sizing: border-box;
}

.card {
    width: 1000px;
    background: lightpink;
    margin: 10px;
    margin: auto;
}

form {
    position: relative;
    width: 300px;
    background: lightgrey;
    margin: 0 auto;
}

input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: #9E9C9C;
}




.boxUsers {
    display: flex;
    flex-direction: column;
    height: 200px;
    overflow-y: scroll;
    background: lightskyblue;
    margin: 3px;
}

.rowClient {
    display: flex;
    flex-direction: row;
    background: lightsteelblue;
    margin: 3px;
}

.rowClient p {
    padding: 3px;
}



.cardApply {
    display: flex;
    flex-direction: column;
    background: #20c997;
    margin: 3px;
}

.cardClient {
    display: flex;
    flex-direction: column;
    background: #ececaa;
    margin: 3px;
}

.cardContentApply {
    display: flex;
    flex-direction: column;
    background: #dcb1d3;
    margin: 3px;
}

.cardClient div{
    display: flex;
    flex-direction: row;
    background: #7e9ddc;
    margin: 3px;
}



