@page "/extensionSkipass"

@using GinSki.Components
@inject SkipassComponent SkipassComponent 

<h3>ExtensionSkipass</h3>



<SkipassComponent isExtensionSkipass="false"></SkipassComponent>

@code {
    
}