@page "/"
@using GinSki.Components
@using GinSki.Services
@inject BehaviourService BehaviourService
@inject SignIn SignIn
@inject HeaderMenu HeaderMenu


<HeaderMenu Title="Активные гости на склоне"></HeaderMenu>

<div class="Content">
    <ActiveGuest></ActiveGuest>
</div>



<SignIn IsHiddenCard=BehaviourService.AdminMode></SignIn>

@code
{
   
}
