@page "/"
@using GinSki.Components
@using GinSki.Services
@inject BehaviourService BehaviourService
@inject SignIn SignIn
@inject HeaderMenu HeaderMenu


@* <HeaderMenu Title="Активные гости на склоне"></HeaderMenu> *@

<div class="Content">
    <div class="card">
        <p>Администратор</p>
        <div class="cardRow">
            <p>Фамилия</p>
            <p>Сафиуллин</p>
        </div>
        
        <div class="cardRow">
            <p>Имя</p>
            <p>Ринат</p>
        </div>
        
        <div class="cardRow">
            <p>Отчество</p>
            <p>Рустемович</p>
        </div>
        
        <div class="cardRow">
            <p>Дата рождения</p>
            <p>12.12.2004</p>
        </div>
        
        <div class="cardRow">
            <p>Email</p>
            <p>besoksy@gmail.com</p>
        </div>
        
        <div class="cardRow">
            <p>Телефон</p>
            <p>89968508410</p>
        </div>
    </div>
        
</div>

<SignIn IsHiddenCard=BehaviourService.AdminMode></SignIn>

@code
{
   
}
