@page "/infoPage"
@using GinSki.Components
@inject HeaderMenu HeaderMenu

<HeaderMenu Title="Информация"></HeaderMenu>

<div class="contentImg">
    <img src="Images/priory.jpeg" alt="img"/>
</div>

@code {
    
}